# Ignore build output folders
bin/
obj/
debug/
Debug/
obj/Debug
publish/

# Ignore DLLs and PDBs
*.dll
*.pdb

# Ignore generated Razor files
*.g.cs
*.g.cshtml.cs

# Ignore user-specific files
*.user
*.suo
*.userprefs

# Ignore temporary files
*.tmp
publish/ 
bin/ 
obj/ 
wwwroot/lib/office
debug.log
